{% include "header.html"%}
<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1><span class="auto-type"></span></h1>
			</div>


			<div class="intro-wrapper">
				<div class="nav-wrapper">

					<a href="index.html">
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>
					

					<ul id="navigation">
                        <li><a href="#about">About</a></li>
				        <li><a href="#skills">Skills</a></li>
                        <li><a href="#education">Education</a></li>
				        <li><a href="#awards">Awards</a></li>
				        <li><a href="#projects">Projects</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>

				<div class="left-column">
					<img id="profile_pic" alt="Anthony Karwe" src="../static/images/anto.jpg">
					<h5>Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next visit</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am studying for a BSc in Electrical and Electronic Engineering, which I hope to finish in 2025. I'm a security systems technician as well.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I take new projects just to tickle my brain and love teaching others how they're made.</p>

					<p>A tech enthusiast who is currently preparing to launch his trading limited firm, which will specialize in security systems, computer systems, and engineering and fabrication work. 
         			<br> A versatile individual who can operate in a variety of settings and with any team to achieve any set of goals.</p>


					<hr>

					<p>Fullstack developer with primary focus on Python + Flask: <a target="_blank" href="../static/Documents/Anthony%20Karwe%20CV.pdf">Download Resume</a></p>

				</div>

				
				<div class="icon-box">
                    <div class="icon-box-icon">
                        <span class="ion-ios-redo"></span>
                    </div>
                    <div class="icon-box-content table-cell">
                        <div>
                            <h4>Social networks</h4>
                    	</div>
                        <div class="icon-box-content">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

		</div>
	</section>

<section class="s1">
    <div id="skills">
			<h3 style="text-align: center;">TOP EXPERTISE</h3>
						<ul>
							<li>Python</li>
							<li>Flask</li>
							<li>JavaScript</li>
							<li>React</li>
						</ul>

						<ul>
							<li>CSS</li>
							<li>HTML</li>
						</ul>

					</div>
</section>

<section class="s2">
		<div id="education" class="main-container">
			<h3 style="text-align: center;">Education</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto aspernatur cupiditate deserunt doloremque eaque eius ex iste labore laborum nemo neque nostrum officiis quo ratione sapiente sunt, totam unde.</p>
        </div>
</section>

<section class="s1">
		<div id="projects" class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>

			<div class="post-wrapper">

				<div>
					<div class="post">
						<img class="thumbnail" src="../static/images/dash.jpg" alt="Tech-Agrovet Platform">
						<div class="post-preview">
							<h6 class="post-title">Tech-Agrovet Platform</h6>
							<p class="post-intro">Designed, built & tested a platform that could be used to analyze both animal and plant diseases</p>
							<a href="../templates/post.html">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="../static/images/ecom.jpg" alt="AA Homes">
						<div class="post-preview">
							<h6 class="post-title">AA Homes</h6>
							<p class="post-intro">I created a website that aided in the search for affordable housing in Kenya in accordance with the Jubilee government's Big Four Agenda.</p>
							<a href="post.html">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="../static/images/membership site.jpg" alt="VIKEN THIRTY INDUSTRIAL PARK">
						<div class="post-preview">
							<h6 class="post-title">VIKEN THIRTY INDUSTRIAL PARK</h6>
							<p class="post-intro">This was a significant undertaking. To be exact, three months. participated in the installation of a backup system for a surveillance system.</p>
							<a href="post.html">Read More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
</section>

    <section class="s2">
        <div id="awards" class="main-container">
			<h3 style="text-align: center;">Some of my Awards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eveniet fuga omnis sequi. Accusamus animi aspernatur deleniti, doloribus est eveniet ipsum iure molestiae neque non perspiciatis, quis similique temporibus veniam?</p>
		</div>
	</section>

	<section class="s1">
		<div id="contact" class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form action="/" method="post" id="contact-form">
{#				<a name="contact"></a>#}

				<label>Name
                    <input class="input-field" type="text" name="name">
                </label>

				<label>Subject
                    <input class="input-field" type="text" name="subject">
                </label>

				<label>Email
                    <input class="input-field" type="text" name="email">
                </label>

				<label>Message
                    <textarea class="input-field" name="message"></textarea>
                </label>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section>
{% include "footer.html"%}
